@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

.background {
    background: rgb(21,21,21);
    background: linear-gradient(36deg, rgba(21,21,21,1) 0%, rgba(68,77,47,1) 68%, rgba(139,164,70,1) 100%);
}

@layer base {
    html {
      font-family: "Manrope", system-ui, sans-serif;
    }
  }
   */
   /* *, *::before, ::after {
    border-color:#1C1D20!important;
} */
/* .css-52dxnr[aria-selected=true], .css-52dxnr[data-selected] {
  --tabs-color:#1C1D20!important;
  border-color: currentColor;
} */

.css-1xhq01z {

  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
 
  justify-content: flex-start;
 
  -ms-flex-direction: row;

  /* border-bottom: 2px solid; */
  border-color:#555555 !important; 
  border-color: inherit;
  z-index: 0!important;
}



img, svg, video, canvas, audio, iframe, embed, object {
  display: unset !important;
  vertical-align: unset !important;
}

.css-1zts0j {
  border-bottom: #555555;
  border-bottom: var(--chakra-borders-1px);
}
.css-1xhq01z {
 background: white!important;
 position: sticky;
    top: 0px;
    z-index: 3;
    box-shadow: 0px 5px 10px 0px;
   
}
.css-52dxnr {
  color: #c76ed7 !important;
   }

.css-52dxnr[aria-selected=true], .css-52dxnr[data-selected] {
    --tabs-color:#292929!important;
    border-color: currentColor;
}

.css-ry192p:active, .css-ry192p[data-active] {
  background: transparent!important;
}

.css-ry192p:hover, .css-ry192p[data-hover] {
  background: transparent !important;
}

.css-1rl9w78:hover, .css-1rl9w78[data-hover] {
  background: transparent !important;
}

.css-1hzyiq5 {
  background: #1049D5!important;
  border-radius:5px!important;
  padding: 5px!important;
  border-color: #555555;
  border-width: 2px;
  
}

.css-ml09pa {
background: #292929!important;
}
.css-18esm8n {
  background: #292929 !important ;
 
}
.css-ml09pa {
  border-color: #555555!important;
}
.css-d52gmh:active, .css-d52gmh[data-active] {
  background: transparent!important;
}

.css-d52gmh:hover, .css-d52gmh[data-hover] {
  background: transparent !important;
}
.css-cmqjak:active, .css-cmqjak[data-active] {
  background: #292929!important;
}
.css-1kfu8nn {
  background: #292929!important;
}


/* graph css start here */
.switcher {
	display: flex;
	align-items: center;
	height: 30px;
	margin-top: 8px;
	color: #2196F3;
}

.switcher-item {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	padding: 6px 8px;
	font-size: 14px;
	color: #262b3e;
	background-color: transparent;
	margin-right: 8px;
	border: none;
	border-radius: 4px;
	outline: none;
}

.switcher-item:hover {
	background-color: #f2f3f5;
}

.switcher-active-item {
	text-decoration: none;
	cursor: default;
	color: #262b3e;
}

.switcher-active-item,
.switcher-active-item:hover {
	background-color: #e1eff9;
}
/* Close graph css here */